<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>С днём рождения!</title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}
        </style>
    </head>
    <body bgcolor="#E6FBEB">
        <div style="margin: 50px 50px 50px 50px;">
            <h3>
                С днём рождения!
            </h3>
            <hr>
            <h5>
                Уважаемый {{ first_name }} {{ last_name }}! Поздравляем Вас с {{ age }}-летием!
            </h5>
        </div>
    </body>
</html>